* {
  padding: 0;
  margin: 0;

}

header {
background-color: lightgray;
}


nav {
    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

ul li a{
    text-decoration: none;
}